@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container {
  margin: 0 20px;
  width: 100%;
  justify-content: space-between;

  @include flex-center();
}

.toggle {
  display: flex;
  align-items: center;

  @include flex-center();
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    margin-right: 12px;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

.icon {
  color: #ffffff;
  font-size: 26px;
}
