@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container {
  margin: 0 20px;
  width: 100%;
  justify-content: space-between;

  @include flex-center();
}

.toggle {
  display: flex;
  align-items: center;

  @include flex-center();
}

.icon {
  color: #ffffff;
  font-size: 26px;
}
