<mat-toolbar color="primary">
  <div class="container">
    <div class="toggle">
      <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="system-name">PEP</h1>
    </div>

    <div>
      <app-usuario></app-usuario>
    </div>

    <div>
      <ul class="icon-list">
        <li class="icon-list__item">
          <a href=""><mat-icon class="icon">link</mat-icon></a>
        </li>

        <li class="icon-list__item">
          <a href=""><mat-icon class="icon">notifications</mat-icon></a>
        </li>

        <li class="icon-list__item">
          <a href=""><mat-icon class="icon">settings</mat-icon></a>
        </li>

        <li class="icon-list__item">
          <a href=""><mat-icon class="icon">power_settings_new</mat-icon></a>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
