<div class="paciente">
  <div class="paciente__avatar">
    <img
      class="avatar-usuario"
      src="assets/img/male-user-icon-512.png"
      alt="avatar-usuario"
    />
  </div>
  <div class="paciente__dados">
    <p class="nome-paciente">{{ pacienteMock.nome | uppercase }}</p>
    <p class="dados-paciente">
      <small
        >{{ pacienteMock.sexo | titlecase }}, {{ pacienteMock.idade }} anos,
        {{ pacienteMock.convenio }}, {{ pacienteMock.especialidade }},
        {{ pacienteMock.ala }}, {{ pacienteMock.local }}</small
      >
    </p>
  </div>
</div>
