.paciente {
  background-color: #ffffff;
  display: flex;
  padding: 16px;
  align-items: center;

  &__avatar {
    .avatar-usuario {
      width: 45px;
    }
  }

  &__dados {
    margin-left: 16px;
  }

  p {
    margin: 0;
  }
}
