.soap {
  display: flex;
  flex-direction: column;

  &__header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;

    ul {
      margin: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
  }

  &__cards {
    flex: 2;
  }

  &__historico {
    flex: 1;
  }

  .icon {
    color: #000000;
    font-size: 26px;
  }
}

:host ::ng-deep {
  // overrides

  mat-form-field {
    margin-right: 16px;
    min-width: 300px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
