<div class="historico">
  <div class="historico__header">
    <button mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="info">
      <h3 class="title">Histórico SOAP</h3>
      <p>23/02/2020</p>
    </div>
    <button mat-icon-button>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="historico__panels">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Subjetivo</mat-panel-title>
      </mat-expansion-panel-header>

      <p>CIAP</p>
      <ul>
        <li>A01 - DOR GENERALIZADA</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Objetivo</mat-panel-title>
      </mat-expansion-panel-header>

      <p>CIAP</p>
      <ul>
        <li>A01 - DOR GENERALIZADA</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Avaliação</mat-panel-title>
      </mat-expansion-panel-header>

      <p>CIAP</p>
      <ul>
        <li>A01 - DOR GENERALIZADA</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Plano</mat-panel-title>
      </mat-expansion-panel-header>

      <p>CIAP</p>
      <ul>
        <li>A01 - DOR GENERALIZADA</li>
      </ul>
    </mat-expansion-panel>
  </div>
</div>
